<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.demo.dao.UserDAO">
 
 	<insert id="insertUser" parameterType="com.example.demo.model.User">
 		
 		INSERT INTO user
 		(
 			`id`
			,`uid`
			,`pwd`
			,`email`
			,`nickName`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{id}
 			,#{uid}
 			,#{pwd}
 			,#{email}
 			,#{nickName}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	<select id="select_id_user" resultType="Boolean" parameterType="String">
 		SELECT
 			COUNT(*)
 		FROM
 			user
 		WHERE
 			uid = #{uid}
 	</select>
 
 	<select id="select_loign_user" resultType="Boolean" parameterType="map">
 		SELECT
 			COUNT(*)
 		FROM
 			user
 		WHERE
 			uid = #{uid}
 		and
 			pwd = #{pwd}
 	</select>
 </mapper>