@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* 상단바 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    height: 100%;
    margin-top: 5px;
}

.search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.nav-items{
    height: 22px;
    position: relative;
    display: flex;
}

.icon{
	width : 21px;
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.dropdown{
	display : inline-block;
	position: relative;
}

#profile{
	cursor: pointer;
}
.dropdown-submenu {
	position: absolute;
	top: 37px; left: 0;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	min-width: 100px;
	display: none;
}

.dropdown-submenu a {
	display : block;
	padding: 10px 3px;
	text-align: left;
	text-decoration: none;
	color : black;
}
.dropdown-submenu a:hover {
	background-color: #ececec;
}


/* 게시글 */




.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
	max-height: 1000px;
	/* overflow: hidden;  페이징을 배우면 이 기능을 살리자.*/
}

.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.left-col {
	max-height: 1000px;
}
.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username{
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    margin-top:5px;
    color: rgba(0, 0, 0, 0.5);
}

.post{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border: none;
}

.dropdown2 {
	display : inline-block;
	position: relative;
}
.dropdown-submenu2{
	position: absolute;
	top: -24px; left: 38px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	min-width: 100px;
	display: none;
}

.dropdown-submenu2 a {
	display : block;
	padding: 10px 3px;
	text-align: left;
	text-decoration: none;
	color : black;
}
.dropdown-submenu2 a:hover {
	background-color: #ececec;
}




.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content{
    width: 100%;
    padding: 20px 20px 0 20px;
    border-bottom: 1px solid #dfdfdf;
}

.post-content-comment{
	height: 30px;
	display : flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
}

.content-commnet{
	border: none;
	width: 100%;
}
.push {
	color: rgb(0, 162, 255);
	display: block;
	width: 40px;
}

.likes{
    font-weight: bold;
}

.description{
    margin: 10px 0;
    font-size: 12px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.description_add {
	color : #8E8E8E;
	
}

.description_comment {
	display: none;
}

.description_comment span {
	font-weight: bold;
	
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon{
    height: 22px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: 340px;
}






/* 오른쪽 바 */

.right-col{
    padding: 20px;
    font-size: 12px;
}

.profile-card{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.profile-card .profile-pic{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-card:first-child .profile-pic{
    width: 70px;
    height: 70px;
}

.profile-card .profile-pic img{
    border: none;
}

.profile-card .username{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.sub-text{
    color: rgba(0, 0, 0, 0.5);
    font-size:11px;
    font-weight: 500;
    margin-top: 5px;
}

.action-btn{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

.suggestion-text{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;
}

@media (max-width: 1100px){
    .right-col, .search-box{
        display: none;
    }
    .nav-wrapper,
    .wrapper{
        width: 90%;
    }
    .wrapper{
        display: block;
    }
}

@media (max-width: 500px){
    .nav-items .icon{
        margin: 0 5px;
    }
    .post-image{
        height: 300px;
    }
}

.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 12px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}



/* 게시글 등록시 팝업창 css */

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
  
}

.modal_body {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 400px;
  height: 620px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}

#upload{
	
	font-size: 20px;
	color: #8e8e8e;  
	font-weight: bold;
}

.uploadinfo {
	width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.uploadprofile-pic{
	height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.uploadprofile-pic img{
    border: none;
}
.uploadusername{
	width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}


.uploadprofile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.uploadprofile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}


.uploadimg{
	text-align: center;
	margin-bottom: 10px;
	
}
.uploadfile {
	margin: 10px 20px;
	width: 270px;
}
.addbutton{
	justify-content: center;
	display: flex;
}



.input_login {
    width: 270px;
    height: 100px;
    margin: 3px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}
.input_login::placeholder {
    font-size: 12px;
    color: #8e8e8e;    
}
.input_login:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}

#file {
	margin-left: 13px;
}
#uploadimg {
	width: 270px;
	height: 200px;
}

#btn_addlist {
    width: 268px;
    height: 30px;
    margin: 13px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
