@charset "UTF-8";

html {
	height: 100%;
}

/* 상단바 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'roboto', sans-serif;
}

.navbar{
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    height: 100%;
    margin-top: 5px;
}

.search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.nav-items{
    height: 22px;
    position: relative;
}

.icon{
	width : 21px;
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}


.profileheader {
	 height: 200px;
	 width: 100%;
	 background: #fff;
	 display: flex;
	 justify-content: center;
   	 margin: 0 auto;
}


.profile-pic{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.profileleft {
	margin-right: 100px;
	display: flex;
	align-items: center;
}

.profileright {
	margin-top: 20px;
	margin-right: 50px;
}
.profilename {
	margin-top : 10px;
	font-size : 30px;
	margin-bottom: 10px;
}


.icon2{
	
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.profilecontent {
	display : flex;
	font-size: 17px;
	margin-top: 15px;
	align-items: center;
}

.profilecontentname {
	margin-right: 3px;
}

.profilecontentcount {
	font-weight: bold;
	margin-right: 15px;
}

.profilenickname{
	margin-top: 20px;
}



.dropdown{
	display : inline-block;
	position: relative;
}

#profile{
	cursor: pointer;
}
.dropdown-submenu {
	position: absolute;
	top: 37px; left: 0;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	min-width: 100px;
	display: none;
}

.dropdown-submenu a {
	display : block;
	padding: 10px 3px;
	text-align: left;
	text-decoration: none;
	color : black;
}
.dropdown-submenu a:hover {
	background-color: #ececec;
}




/* 메인 바디  */


.bodycontainer{
	height : 100%;
	display: grid;
	grid-template-rows : 300px 300px 300px;
	grid-template-columns : 300px 300px 300px;
	grid-gap : 20px;
	place-items : center start;
	place-content : space-between center;
}
.item {
	width: 100%;
}
.bodyimg {
	width : 300px;
	height: 300px;
	object-fit : cover;
}







/* modal 사진 추가   */


.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
  
}

.modal_body {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 400px;
  height: 640px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}

#upload{
	
	font-size: 20px;
	color: #8e8e8e;  
	font-weight: bold;
}

.uploadinfo {
	width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.uploadprofile-pic{
	height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.uploadprofile-pic img{
    border: none;
}
.uploadusername{
	width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}


.uploadprofile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.uploadprofile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}


.uploadimg{
	text-align: center;
	margin-bottom: 10px;
}
.uploadfile {
	margin: 10px 20px;
	width: 270px;
}
.addbutton{
	justify-content: center;
	display: flex;
}



.input_login {
    width: 270px;
    height: 100px;
    margin: 3px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}
.input_login::placeholder {
    font-size: 12px;
    color: #8e8e8e;    
}
.input_login:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}

#file {
	margin-left: 13px;
}
#uploadimg {
	width: 270px;
	height: 200px;
}

#btn_addlist {
    width: 268px;
    height: 30px;
    margin: 13px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.bundle {
	margin : 10px;
}

.askspan {
	margin-left: 23px;
}

.btn_email{
	 background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 229px;
    height: 30px;
}

.btn_pwd {
	
	background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 274px;
    height: 30px;
    margin-left: 21px;
}
	


/* 개인정보 수정 */

.modal2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}


.modal2.show {
	display: block;
}

#modifyimg {
	width: 270px;
	height: 200px;
}
#file2 {
	margin-left: 13px;
}


#btn_modify{
	 width: 268px;
    height: 30px;
    margin: 13px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}


/* 게시글 클릭시 미리보기 모달 */

.modal3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}


.modal3.show {
	display: block;
}


.modal3_body {
	
  position: absolute;
  top: 45%;
  left: 50%;
  width: 1000px;
  height: 600px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	
  transform: translateX(-50%) translateY(-50%);
  display : flex;
}

.modal3_left {
	width: 600px;
}
.modal3_right {
	width: 400px;
	background-color: white;
}

.modal3_leftimg {
	width : 600px;
	height : 600px;
	object-fit: cover;
	padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.info {
	 width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   	border-bottom:  1px solid #dfdfdf;
}



.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    height: 30px;
    width: 30px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border: none;
}

.post-content {
	height : 500px;
	border-bottom:  1px solid #dfdfdf;
}

.post-content-comment{
	height: 30px;
	display : flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-top: 10px;
}

.info2 {
	 width: 100%;
    height: 50px;
    border-bottom:  1px solid #dfdfdf;
}


.content-commnet{
	border: none;
	width: 100%;
}
.profile-pic2 {
	 height: 30px;
    width: 30px;
    padding: 0;
    background: none;
}

.profile-pic2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.likes{
	margin-top: 10px;
    font-weight: bold;
    margin-left: 20px;
}


.description{
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    
}

.description .profile-pic2 {
	margin-left: 20px;
}
.description span{
    margin-right: 10px;
    margin-left: 10px;	
}
.descriptionId {
	font-weight: bold;
}

.sample {
	margin: 10px 0;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
}

.sample span{
	
    margin-right: 10px;
    margin-left: 25px;	
}

.spanid {
	font-weight: bold;
}

.push {
	color: rgb(0, 162, 255);
	display: block;
	width: 40px;
}