@charset "UTF-8";

.main {
    align-content: center;
    margin : 0 auto;
    margin-left : 100px auto;
    margin-right : 100px auto;
    margin-top : 140px;
    justify-content: center;
}


.container {
    width: 350px;
    height: 550px;
    margin : 10px auto;
    margin-left : 100px auto;
    margin-right : 100px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    justify-content: center;
}

.footer {
	
	width: 350px;
	height : 50px;
	line-height : 50px;
	display : block;
	margin:  auto;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    color : #00366B;
    font-size: 12px;
	text-align: center;
	
	
}


img.logo_instagram {
    align-self: center;
    width: 175px;
    margin: 10px; 
}
.input_login {
    width: 270px;
    height: 40px;
    margin: 3px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}
.input_login::placeholder {
    font-size: 12px;
    color: #8e8e8e;    
}
.input_login:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}
#btn_login {
    width: 268px;
    height: 30px;
    margin: 13px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
#btn_login:disabled {
    background-color: #B9DFFC;
}
#btn_login:disabled:hover {
    cursor: default;
}
#btn_login:enabled:hover {
    cursor: pointer;
}
#btn_login:focus {
    outline: none;
}

.login_horizon {
	
	display : flex;
	align-items: center;
}

.login_horizon .br {
	width : 40%;
	height: 1px;
	border-top : 1px solid rgba( 219, 219, 219, 1);
	
}

.login_horizon .or {
	width: 20%;
	text-align: center;
	color: #aaa;
	font-size: 12px;
	font-weight: bold;
}

a {
    cursor: default;
    color : blue;
    text-decoration: none;
    margin-left: 5px;
}

.button_forgot {
    color : #00366B;
    align-self: center;
    font-size: 12px;
    margin-top: 10px;
}
.button_forgot:hover {
    cursor: pointer;
}


.askspan {
	font-size : 14px;
	font-weight: bold;
}

.bundle {
	margin-bottom: 10px;
}